# Objects
obj/
*.o

# Backup files
bak/

# VIM swap files
*.swp

# weights
*.wgh
!lenet.wgh

# input list
test.lst

# vscode
.vscode/

# binary
nebula

# Libraries
*.so
*.a

#symbolic link
configs/configs
weights/weights
datasets/datasets
